* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    background-color: transparent;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

/* basic document layout */

#container {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 180px 5fr;
    width: 100vw;
    min-height: 100vh;
}

#sidebar {
    display: grid;
    grid-template-rows: 124px repeat(10, 48px);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: white;
    background-color: #1992d4;
    position: relative;
    text-wrap: none;
    overflow: hidden;
    padding: 16px;
}

#header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 12px;
    margin: 12px 24px;
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #e2e8f0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* general styles */

.small {
    width: 24px;
}

.large {
    width: 48px;
}

.huge {
    width: 96px;
}

.circle {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    border-radius: 50%;
}

button:hover {
    cursor: pointer;
}

/* font styles */

p, label {
    font-size: 20px;
}

/* sidebar */

.switch, .knob {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
}

.switch {
    height: 20px;
    opacity: 0;
}

#dashboard, .option {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

.option .icon {
    justify-self: center;
}

.option:hover {
    background-color: #156e9e;
}

.option:active {
    background-color: #12587e;
}

/* header */

.top-row {
    display: grid;
    grid-template-columns: auto 1fr 2vw auto auto 120px;
    align-items: center;
    gap: 16px;
}

.bottom-row {
    display: grid;
    grid-template-columns: auto 160px 1fr repeat(3, 80px);
    align-items: center;
    gap: 16px;
}

.search {
    background-color: #e2e8f0;
    height: 24px;
    border-radius: 12px;
    padding: 0 8px;
}

.action-btn {
    color: white;
    background-color: #1992d4;
    height: 36px;
    border-radius: 12px;
}

.action-btn:hover {
    background-color: #156e9e;
}

.action-btn:active {
    background-color: #12587e;
}

/* main content */


#main-content h2 {
    margin-bottom: 8px;
}

#projects {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    max-width: 70vw;
    padding: 20px;
}

.deck {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: white;
    border-left: 4px solid gold;
    border-right: 4px solid gold;
    padding: 16px 8px;
}

.bottom-card {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px;
}

.bottom-card .icon {
    margin: 0 8px;
}

#announcements {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 20px 20px 0 0;
}

#trending {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 20px 20px 0 0;
}

/* animations */

#container:has(#show-hide-btn:checked) {
    animation: show-sidebar 1s 1 forwards;
}

#container:has(#show-hide-btn:not(:checked)) {
    animation: hide-sidebar 1s 1 forwards;
}

#container:has(#freeze-btn:not(:checked)) {
    animation: none !important;
}

#freeze-btn:checked {
    display: none;
}

@keyframes hide-sidebar {
    0% {grid-template-columns: 280px 1fr;}
    100% {grid-template-columns: 80px 1fr;} 
}

@keyframes show-sidebar {
    0% {grid-template-columns: 80px 1fr;}
    100% {grid-template-columns: 280px 1fr;}   
}

